{% extends "layouts/main.html" %}

{% block content %}
{% load static %}
<div class="quote_section layout_padding">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-6">
             <div class="quote_taital_main">
                <h1 class="quote_taital">Adventure</h1>
                <p class="quote_text">An adventure is an exciting experience or undertaking that is typically bold, sometimes risky. Adventures may be activities with danger such as traveling, exploring, skydiving, mountain climbing, scuba diving, river rafting, or other extreme sports. Adventures are often undertaken to create psychological arousal or in order to achieve a greater goal, such as the pursuit of knowledge that can only be obtained by such activities.</p>
                {% comment %} <div class="readmore_bt"><a href="#">Read More</a></div> {% endcomment %}
             </div>
          </div>
          <div class="col-md-6 padding_right_0">
             <div><img src="{% static 'icons/adventure-tourism.png' %}" class="about_img"></div>
          </div>
       </div>
    </div>
 </div>









{% endblock %}