{% extends "layouts/main.html" %}

{% block content %}
{% load static %}
<div class="camping_section layout_padding">
    <div class="container">
       <h1 class="camping_taital">Camping </h1>
       <p class="camping_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>
       <div class="camping_section_2">
          <div class="row">
             {% for services in servicesData %}
             <div class="col-md-4">
                <h2>{{ exploit.title }}</h2>
                {% for exploit in services.exploit_set.all %}
                <div class="card">
                  {% if exploit.photo %}
                  <img src="{{ exploit.photo.url }}" class="card-img-top" height="200" alt="...">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ exploit.title }}</h5>
                    <p class="card-text">{{  exploit.summary|safe|truncatechars:100 }}</p>
                    <a href="{% url 'exploit_details' exploit.slug %}" class="btn btn-primary">Read More</a>
                  </div>
                </div>
                {% endfor %}
             </div>
             {% endfor %}
          </div>
       </div>
    </div>
 </div>

 {% endblock %}