{% extends "layouts/main.html" %}

{% block content %}
{% load static %}
<div class="services_section layout_padding">
    <div class="container">
       <h1 class="services_taital">Camping </h1>
       <p class="services_text">Camping is a form of outdoor recreation involving overnight stays with a basic temporary shelter such as a tent. Camping can also include a recreational vehicle, a permanent tent, a shelter such as a bivy or tarp, or no shelter at all. Typically, participants leave developed areas to spend time outdoors, in pursuit of activities providing them enjoyment or an educational experience. Spending the night away from home distinguishes camping from day-tripping, picnicking, and other outdoor activities.</p>
       <div class="services_section_2">
          <div class="row">
             {% for services in servicesData %}
             <div class="col-md-4">
                <h2>{{ exploit.title }}</h2>
                {% for exploit in services.exploit_set.all %}
                <div class="card">
                  {% if exploit.photo %}
                  <img src="{{ exploit.photo.url }}" class="card-img-top" height="200" alt="...">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ exploit.title }}</h5>
                    <p class="card-text">{{  exploit.summary|safe|truncatechars:100 }}</p>
                    <a href="{% url 'exploit_details' exploit.slug %}" class="btn btn-primary">Read More</a>
                  </div>
                </div>
                {% endfor %}
             </div>
             {% endfor %}
          </div>
       </div>
    </div>
 </div>

 {% endblock %}